<!-- Validation failure messages -->
<% if @character.present? %>
  <% if @character.errors.any? %>
    <% @character.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new character
</h1>

<hr>

<form action="/create_character" method="post">
  <!-- Label and input for name -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @character.try(:name) %>">
  </div>

  <!-- Label and input for movie_id -->
  <div class="form-group">
    <label for="movie_id">
      Movie
    </label>

    <input type="text" id="movie_id" name="movie_id" class="form-control" value="<%= @character.try(:movie_id) %>">
  </div>

  <!-- Label and input for actor_id -->
  <div class="form-group">
    <label for="actor_id">
      Actor
    </label>

    <input type="text" id="actor_id" name="actor_id" class="form-control" value="<%= @character.try(:actor_id) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create character
  </button>
</form>

<hr>

<a href="/characters">
  Go back
</a>
